# Compiled class files
*.class

# Log files
*.log

# Directory for Maven build artifacts
target/

# Directory for Gradle build artifacts
build/

# Eclipse specific files
.metadata/
*.log
*.tmp
*.bak
*.swp

# IntelliJ IDEA specific files
.idea/
*.iml
*.iws
out/

# NetBeans specific files
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
private/
build/
nbproject/lock/

# VS Code specific files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Application-specific files
*.jar
*.war
*.ear

# Maven wrapper files
.mvn/wrapper/

# Gradle wrapper files
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Dependency directories
.gradle/
**/build/