# Diretórios de saída de IDE
out/
*.iml
.idea/

# Compiled class files
*.class

# Diretório de saída do Maven
target/

# Diretório de saída do Gradle
build/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp

# Arquivos e diretórios específicos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de distribuição de aplicação
*.jar
*.war
*.ear

# Arquivos do Maven Wrapper
.mvn/wrapper/

# Arquivos do Gradle Wrapper
.gradle/
!gradle/wrapper/gradle-wrapper.jar
